@mixin h1 {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.28;

  @media (max-width: $lg) {
    font-size: 1.75rem;
  }
  @media (max-width: $md) {
    font-size: 1.625rem;
  }
}

@mixin h2 {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.29;
  @media (max-width: $lg) {
    font-size: 1.375rem;
  }
  @media (max-width: $md) {
    font-size: 1.25rem;
  }
}

@mixin h3 {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.3;
  @media (max-width: $lg) {
    font-size: 1.125rem;
  }
  @media (max-width: $md) {
    font-size: 1rem;
  }
}

@mixin txt {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  @media (max-width: $md) {
    font-size: 0.8125rem;
  }
}

@mixin bttn {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.35;
  @media (max-width: $md) {
    font-size: 0.8125rem;
  }
}

@mixin mini-txt {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.36;
  @media (max-width: $md) {
    font-size: 0.625rem;
  }
}