$black: #021704;
$gray-strokes: #DEDEDE;
$gray-bg: #F4F4F4;
$white: #FDFDFD;
$gray-txt: #909097;
$red: #DE3C1A;
$green: #33594C;

$xl: 1279px;
$lg: 999px;
$md: 767px;
$sm: 479px;

:root {
  --gutter: 24px;
  --cont-this: 1200px;

  --fsz-h1: 2rem;
  --fsz-h2: 1.5rem;
  --fsz-h3: 1.25rem;
  --fsz-txt: 1rem;
  --fsz-bttn: 0.875rem;
  --fsz-mini-txt: 0.75rem;

  @media(max-width: $xl) {
    --gutter: 20px;
    --cont-this: 960px;
  }

  @media(max-width: $lg) {
    --gutter: 16px;
    --cont-this: 728px;

    --fsz-h1: 1.75rem;
    --fsz-h2: 1.375rem;
    --fsz-h3: 1.125rem;
  }

  @media(max-width: $md) {
    --gutter: 8px;
    --cont-this: 440px;

    --fsz-h1: 1.625rem;
    --fsz-h2: 1.25rem;
    --fsz-h3: 1rem;
    --fsz-txt: 0.8125rem;
    --fsz-bttn: 0.8125rem;
    --fsz-mini-txt: 0.625rem;
  }

  @media(max-width: $sm) {
    --gutter: 4px;
  }
}
