$black: #021704;
$gray-strokes: #DEDEDE;
$gray-bg: #F4F4F4;
$white: #FDFDFD;
$gray-txt: #909097;
$red: #DE3C1A;
$green: #33594C;

$xl: 1279px;
$lg: 999px;
$md: 767px;
$sm: 479px;

$cont-xl: 1200px;
$cont-lg: 960px;
$cont-md: 728px;
$cont-sm: 440px;

:root {
  --gutter: 24px;
  @media(max-width: $xl) {
    --gutter: 20px;
  }

  @media(max-width: $lg) {
    --gutter: 16px;
  }

  @media(max-width: $md) {
    --gutter: 8px;
  }

  @media(max-width: $sm) {
    --gutter: 4px;
  }
}
