header.header
  .header__top
    .container.header__container
      .header__tel-time
        a.header__tel(href="tel:+88007774999") 8 800 777-4-999
        span.header__time 7:00 – 22:00 МСК
      .nav-acc.header__acc
        a.nav-acc-link(href="#") Помощь
        button.modal-link.sign-up-link.nav-acc-link(type="button") Регистрация
        button.modal-link.sign-in-link.nav-acc-link(type="button") Вход
  .header__main
    .container.header__container
      .header__left
        button.burger(type="button" aria-label="Меню")
          .burger__list
            span.burger__item
            span.burger__item
            span.burger__item
        form.search
          button.search__btn(type="button" aria-label="Поиск")
            img.search__icon(src="@img/search-icon.svg", alt="")
          label.visually-hidden(for="search-field-mobile") Поиск
          input.search__field#search-field-mobile(type="text")

      nav.nav.header__nav
        a.nav__link(href="./catalog.html") Каталог
        a.nav__link(href="./blog.html") Блог
        button.modal-link.contact-link.nav__link(type="button") Контакты
        button.modal-link.diller-link.nav__link(type="button") Дилерам
      
      a.header__logo(href="#" aria-label="Главная страница") 
        img.header__logo-icon(src="@img/logo.png", alt="")
      .header__user-nav
        form.header__search(action="#") 
          button.header__search-btn(type="submit" aria-label="Поиск")
            img.header__search-icon(src="@img/search-icon.svg", alt="")
          label.visually-hidden(for="search-field") Поиск
          input.header__search-field#search-field(type="search" placeholder="Поиск")
        a.header__user-nav-link(href="./favorites.html" aria-label="Избранное") 
          img.header__favorites-icon(src="@img/favorites-icon.svg", alt="")
        a.header__user-nav-link(href="./cart.html" aria-label="Корзина") 
          img.header__cart-icon(src="@img/cart-icon.svg", alt="")
  
.popup
  .modal
    section.contacts.modal__block
      .container.modal__container
        .modal__top
          h2.section-title.modal__title Контакты
          button.btn-close(type='button', aria-label='Закрыть')
            img(src='img/close-icon.svg', alt)
        .modal__top-links
          a(href='mailto:Mahima@info.ru') Mahima@info.ru
          a(href='tel:+79221110500') +7-922-111-05-00
        .modal__form
          .modal__field-wrap
            label.visually-hidden(for="contacts-name") Введите Имя
            input#contacts-name.modal__field(type='text', placeholder='Имя')
            label.visually-hidden(for="contacts-email") Введите Email
            input#contacts-email.modal__field(type='email', placeholder='Email')
            label.visually-hidden(for="contacts-tel") Введите Телефон
            input#contacts-tel.modal__field(type='tel', placeholder='Телефон')
            textarea.modal__field.modal__textarea(placeholder='Сообщение')
          +btn('submit', 'green','modal__btn', 'Обратный звонок')
    section.diller.modal__block
      .container.modal__container
        .modal__top
          h2.section-title.modal__title Дилерам
          button.btn-close(type='button', aria-label='Закрыть')
            img(src='img/close-icon.svg', alt)
        p.modal__text.modal__desc Mahima открыта к сотрудничеству с оптовыми клиентами. Свяжитесь с нами и получите доступ к сниженным ценам.
        .modal__top-links
          a(href='mailto:Mahima@info.ru') Mahima@info.ru
          a(href='tel:+79221110500') +7-922-111-05-00
        .modal__form
          .modal__field-wrap
            label.visually-hidden(for="diller-name") Введите Имя
            input#diller-name.modal__field(type='text', placeholder='Имя')
            label.visually-hidden(for="diller-email") Введите Email
            input#diller-email.modal__field(type='email', placeholder='Email')
            label.visually-hidden(for="diller-tel") Введите Телефон
            input#diller-tel.modal__field(type='tel', placeholder='Телефон')
            textarea.modal__field.modal__textarea(placeholder='Сообщение')
          +btn('submit', 'green','modal__btn', 'Обратный звонок')
    section.sign-in.modal__block
      .container.modal__container
        .modal__top
          h2.section-title.modal__title Вход
          button.btn-close(type='button', aria-label='Закрыть')
            img(src='img/close-icon.svg', alt)
        .modal__form
          .modal__field-wrap
            label.visually-hidden(for="sign-in-email") Введите Email
            input#sign-in-email.modal__field(type='email', placeholder='Email')
            label.visually-hidden(for="sign-in-password") Введите Пароль
            .password
              input#sign-in-password.modal__field(type='password', placeholder='Пароль')
              button.password__btn(type="button")
          .modal__forgot.modal__text
            button.modal__link.modal-link.forgot-pass-link(type="button") Забыли пароль?
          +btn('submit', 'green','modal__btn', 'Войти')
          div.modal__text.modal__bottom
            span Нету аккаунта? 
            button.modal__link.modal-link.sign-up-link(type="button") Зарегестрируйтесь.
    section.sign-up.modal__block
      .container.modal__container
        .modal__top
          h2.section-title.modal__title Регистрация
          button.btn-close(type='button', aria-label='Закрыть')
            img(src='img/close-icon.svg', alt)
        .modal__form
          .modal__field-wrap
            label.visually-hidden(for="sign-up-email") Введите Email
            input#sign-up-email.modal__field(type='email', placeholder='Email')
            label.visually-hidden(for="sign-up-password") Придумайте пароль
            .password
              input#sign-up-password.modal__field(type='password', placeholder='Придумайте пароль')
              button.password__btn(type="button")
          .modal__forgot.modal__text
          button.btn.btn__green.modal__btn.modal-link.verification-code-link(type='submit' disabled) Зарегистрироваться
          div.modal__text.modal__bottom
            span Уже есть аккаунт? 
            button.modal__link.modal-link.sign-in-link(type="button") Войдите.
    section.verification-code.modal__block
      .container.modal__container
        .modal__top
          h2.section-title.modal__title Регистрация
          button.btn-close(type='button', aria-label='Закрыть')
            img(src='img/close-icon.svg', alt)
        .modal__desc
          p.modal__text На ваш Email был отправлен проверочный код.
          button.modal__link.modal-link.sign-up-link(type="button") Вернуться назад
        .modal__form
          .modal__field-wrap
            label.visually-hidden(for="forgot-code") Введите Код
            input#forgot-code.modal__field(type='number', placeholder='Код')
          .modal__forgot.modal__text
          button.btn.btn__green.modal__btn(type='submit' disabled) Зарегистрироваться
          div.modal__text.modal__bottom
            button.modal__link(type="button") Отправить новый код
    
.popup-menu
  .menu
    .container.menu__container
      nav.nav
        a.nav__link(href='./catalog.html') Каталог
        a.nav__link(href='./blog.html') Блог
        button.modal-link.contact-link.nav__link(type='button') Контакты
        button.modal-link.diller-link.nav__link(type='button') Дилерам
      hr.hr
      .nav-acc
        a.nav-acc-link(href='#') Помощь
        button.modal-link.sign-up-link.nav-acc-link(type='button') Регистрация
        button.modal-link.sign-in-link.nav-acc-link(type='button') Вход
        hr.hr
        .header__tel-time
          a.header__tel(href='tel:+88007774999') 8 800 777-4-999
          span.header__time 7:00 – 22:00 МСК
