html {
  font-size: 16px;
  cursor: url("@img/cursor.svg"), pointer;
}

html body {
  color: $black;
  background: $white;
  @include txt;
}

input,
textarea {
  @include txt;
  padding: 0 16px;
  background: transparent;
  width: max-content;
  border: 1px solid rgba($black, .1);

  &::placeholder {
    color: $gray-txt;
  }

}

input {
  height: 48px;

  @media (max-width: $md) {
    height: 44px;
  }
}

input[type="radio"] {
  &+span {
    position: relative;
    display: inline-block;
    flex: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid $gray-strokes;
    background-color: transparent;
    transition: border-color .2s ease-in-out,
      background-color .2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color .2s ease-in-out;
    }
  }

  &:checked+span {
    border-color: $red;
    background-color: $red;

    &::after {
      background-color: $white;
    }
  }
}

input[type="checkbox"] {
  &+span {
    position: relative;
    display: inline-block;
    flex: none;
    width: 14px;
    height: 14px;
    border: 1px solid $gray-strokes;
    background-color: transparent;
    transition: border-color .2s ease-in-out,
      background-color .2s ease-in-out;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 11px;
      height: 9px;
    }
  }

  &:checked+span {
    border-color: $red;
    background-color: $red;

    &::after {
      content: url('@img/checkbox-check-icon.svg');
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  @include mini-txt;

  input {
    width: 100%;
  }
}

.field-check {
  @include txt;
  display: flex;
  align-items: center;
  gap: 6px;

  @media (max-width: $md) {
    gap: 4px;
  }
}

textarea {
  padding-top: 13px;
  padding-bottom: 13px;
}

.password {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 12px;
    padding-left: 12px;

    &::before {
      content: url('@img/pass-icon-hide.svg');
      width: 24px;
      height: 24px;
    }

    &_show {
      &::before {
        content: url('@img/pass-icon-show.svg');
      }
    }
  }

  &__field {
    padding-right: 40px;
  }
}

section {
  margin-bottom: 120px;

  @media (max-width: $lg) {
    margin-bottom: 90px;
  }

  @media (max-width: $md) {
    margin-bottom: 80px;
  }
}

.main {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  &>* {
    flex: 1 1 auto;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: calc(var(--cont-this) + 40px);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  @include bttn;
  padding: 13px 46px;
  transition: background-color .2s ease-in-out,
    border-color .2s ease-in-out;
  border: 1px solid transparent;

  &__green {
    background-color: $green;
    border-color: $green;
    color: $white;

    &:disabled {

      &,
      &:hover,
      &:focus-visible,
      &:active {
        background-color: $gray-txt;
        border-color: $gray-txt;
      }
    }

    &:hover,
    &:focus-visible,
    &:active {
      background-color: #233A32;
      border-color: #233A32;
    }
  }

  &__trs {
    background-color: none;
    border-color: $gray-strokes;
    color: $black;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $gray-strokes;
    }
  }

  @media (max-width: $md) {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  @media (max-width: $sm) {
    width: 100%;
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}

.btn-favorites {
  font-size: 0;
  padding: 16px;
  z-index: 3;

  &__icon {
    stroke: $black;
    fill: transparent;
    width: 16px;
    height: 16px;
    transition: fill .2s ease-in-out,
      stroke .2s ease-in-out;
  }

  &:hover,
  &:focus-visible {
    border-color: #BCBCBC;
  }

  &:active,
  &_active {
    border-color: $gray-strokes;

    svg {
      fill: $red;
      stroke: $red;
    }
  }

  &_rec {
    transition: border-color .2s ease-in-out;
    border: 1px solid $gray-strokes;
  }
}

.btn-close {
  font-size: 0;
  color: $black;

  svg {
    width: 24px;
    height: 24px;
  }
}

.rating {
  flex: none;
  display: flex;
  align-items: center;
  gap: 6px;
  color: $red;

  &-write {
    color: $black;

    .rating {
      &__btn {
        padding: 3px;
        margin: -3px;

        @media (max-width: $md) {
          padding: 2px;
          margin: -2px;
        }

        &_active {
          color: $red;
          fill: $red;
        }
      }
    }
  }

  @media (max-width: $md) {
    gap: 2px;
  }

  &__item {
    font-size: 0;
  }

  &__icon {
    fill: transparent;
    width: 18px;
    height: 18px;
    transition: fill .2s ease-in-out,
      stroke .2s ease-in-out,
      color .2s ease-in-out;

    &_fill {
      color: $red;
      fill: $red;
    }
  }
}

.counter {
  display: flex;
  align-items: center;
  gap: 6px;

  &__btn {
    position: relative;
    padding: 2px 0;
    width: 25px;
    height: 25px;

    &:disabled {
      cursor: default;

      &::before,
      &::after {
        background: $gray-strokes;
      }
    }

    &_minus::before,
    &_plus::before,
    &_plus::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 11px;
      height: 1px;
      background-color: $black;
    }

    &_plus::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &__text {
      min-width: 20px;
      min-height: 22px;
    }
  }
}

.section-title {
  @include h2;
}

.underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $black;
    transition: border-color .2s ease-in-out;
  }

  &:hover,
  &:focus-visible,
  &:active {
    &::after {
      border-color: transparent;
    }
  }
}

.section {
  margin-bottom: 120px;
}

.hr {
  margin: 24px 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid $gray-strokes;
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  color: $white;
  background-color: $red;

  visibility: hidden;
  transform: translateY(-100%);
  transition: transform .3s ease-in-out,
    visibility .3s ease-in-out;

  &_active {
    visibility: visible;
    transform: translateY(0);

  }

  &__btn-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    padding: 15px;
    margin-right: -15px;
    color: $white;

  }
}

.block-nav {
  display: flex;

  &__button {
    position: relative;
    width: 48px;
    height: 48px;
    background: $gray-bg;
    border-radius: 50%;
    transition: background-color .2s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      background: $gray-strokes;
    }

    &:disabled {
      opacity: .4;
    }

    img {
      position: absolute;
      top: 50%;
      right: 50%;
      width: 12px;
      transform: translate(calc(50% + 1px), -50%) rotate(-90deg);
    }

    &_prev {
      img {
        transform: translate(calc(50% - 1px), -50%) rotate(90deg);
      }
    }

    @media (max-width: $lg) {
      width: 40px;
      height: 40px;

      img {
        width: 10px;
      }
    }
  }

  &__pagination {
    display: flex;

    &-bullet {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      transition: background-color .2s ease-in-out;

      &_active {
        background: $gray-bg;
      }

      @media (max-width: $lg) {
        width: 40px;
        height: 40px;
      }
    }
  }

  &_slider {
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 19px;

    @media (max-width: $md) {
      margin-bottom: 10px;
    }

    @media (max-width: $sm) {
      gap: 8px;
    }

    .block-nav {
      &__button {
        @media (max-width: $md) {
          width: 34px;
          height: 34px;
        }
      }
    }
  }

  &_pagination {
    margin-top: 24px;

    @media (max-width: $md) {
      margin-top: 16px;
    }

    @media (max-width: $sm) {
      margin-top: 32px;
    }

    .block-nav {
      &__button {
        background: none;

        img {
          right: 9px;
          transform: translate(1px, -50%) rotate(-90deg);
        }

        &_prev {
          img {
            transform: translate(-1px, -50%) rotate(90deg);
          }
        }
      }
    }
  }
}

.product-item {
  position: relative;
  width: 100%;

  &__link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__img {
    width: 100%;

    &-wrap {
      margin-bottom: 8px;

      @media (max-width: $md) {
        margin-bottom: 6px;
      }

      @media (max-width: $sm) {
        margin-bottom: 4px;
      }
    }
  }

  &__favorites {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
  }

  &__pay {
    @include h3;
    margin-bottom: 2px;
  }

  &__name {
    @media (max-width: $xl) {
      @include mini-txt;
    }
  }
}

.blog-item {
  row-gap: var(--gutter);

  &__img {
    width: 100%;
    height: 100%;
  }

  &__date,
  &__title {
    margin-bottom: 24px;

    @media (max-width: $lg) {
      margin-bottom: 14px;
    }

    @media (max-width: $md) {
      margin-bottom: 8px;
    }
  }

  &__date {
    display: inline-block;
    @include mini-txt;
    color: $gray-txt;
  }

  &__title {
    @include h3;
  }

  &__desc {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    @media (max-width: $lg) {
      @include mini-txt;
      -webkit-line-clamp: 4;
    }

    @media (max-width: $md) {
      @include txt;
    }

    @media (max-width: $sm) {
      -webkit-line-clamp: 5;
    }

  }

  &__more-link {
    @include mini-txt;
    margin-bottom: auto;
    border-bottom: 1px solid $black;

    @media (max-width: $md) {
      margin-bottom: 10px;
    }
  }
}

.cart-pre-order-item {
  position: relative;
  padding: 24px;
  border: 1px solid $gray-strokes;

  min-height: 276px;

  @media (max-width: $md) {
    min-height: 260px;
  }

  @media (max-width: $sm) {
    padding: 0;
    border: none;
    border-bottom: 1px solid $gray-strokes;
    min-height: 174px;
  }

  &__inner {
    display: flex;
    gap: var(--gutter);
  }

  &__img {
    &-wrap {
      width: 160px;

      @media (max-width: $sm) {
        width: 92px;
      }
    }

    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    @media (max-width: $sm) {
      justify-content: flex-start;
      gap: 16px;
      border-bottom: 1px solid $gray-strokes;
    }
  }

  &__characteristic {
    @include mini-txt;
    color: $gray-txt;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: $md) {
      gap: 8px;
      margin-bottom: 24px;
    }

    @media (max-width: $sm) {
      margin-bottom: 16px;
    }
  }

  &__counter {
    @media (max-width: $sm) {
      display: none;
    }
  }

  &__pay {
    margin-left: auto;

    @media (max-width: $lg) {
      margin-left: 0;
    }
  }

  &__btn {
    &-wrap {
      font-size: 0;
      position: absolute;
      top: 22px;
      right: 22px;
      display: flex;
      gap: 10px;

      @media (max-width: $lg) {
        top: unset;
        right: 24px;
        bottom: 24px;
      }

      &-desktop {
        @media (max-width: $sm) {
          display: none;
        }
      }

      @media (max-width: $sm) {
        position: static;
      }
    }

    &-favorites {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    padding: 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    @media (min-width: calc($sm + 0.02px)) {
      display: none;
    }
  }
}

.total {
  @include mini-txt;

  &__top {
    @include h3;
  }

  &__top,
  &__row,
  &__date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

  &__hr {
    margin: 14px 0;

    @media (max-width: $md) {
      margin: 8px 0;
    }

    @media (max-width: $sm) {
      margin: 10px 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__btn {
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 11px;
      margin-top: 40px;

      @media (max-width: $sm) {
        margin-top: 24px;
      }

      @media (max-width: $md) {
        margin-top: 16px;
      }

      &>* {
        width: 100%;
      }
    }

    padding-left: 0;
    padding-right: 0;
  }

  &__promocode {
    width: 100%;

    &>* {
      width: 100%;
    }

    &-text {
      color: $red;

      &:not(&_active) {
        display: none;
      }
    }

    &-input {
      width: 100%;
      padding-right: 34px;

      &-wrap {
        position: relative;
      }

      &-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-right: 10px;

        img {
          width: 24px;
        }
      }
    }
  }
}

.popup,
.popup-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .6);
  z-index: 40;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out,
    visibility .3s ease-in-out;

  &_active {
    visibility: visible;
    opacity: 1;
  }
}

.popup-menu {
  z-index: 90;
}

.modal {
  position: relative;
  z-index: 40;
  width: 100vw;
  height: 100vh;

  &__margin-24 {
    margin-bottom: 24px;

    @media (max-width: $md) {
      margin-bottom: 16px;
    }
  }

  &__btn-close {
    position: absolute;
    top: 40px;
    right: 34px;

    @media (max-width:$md) {
      top: 36px;
      right: 30px;
    }

    @media (max-width:$sm) {
      position: static;
    }
  }

  &__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    overflow-y: auto;
    padding: 40px;
    background: $white;
    width: 100%;
    max-width: 515px;
    max-height: 90vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out,
      visibility .3s ease-in-out;

    @media (max-width:$md) {
      max-width: 398px;
      padding: 36px;
    }

    @media (max-width:$sm) {
      transform: translate(0, 0);
      top: 0;
      left: 0;
      max-width: 100%;
      max-height: 100vh;
      height: 100%;
      padding: 32px 0;
      padding-top: 80px;
    }

    &_active {
      visibility: visible;
      opacity: 1;
    }


    &.sign-in {
      .modal {
        &__field-wrap {
          margin-bottom: 6px;
        }
      }
    }

    &.verification-code {
      .modal {
        &__desc {
          display: flex;
          flex-direction: column;
          gap: 4px;

          &>* {
            width: fit-content;
          }
        }
      }
    }

    &.product-desc {
      position: absolute;
      top: 0;
      left: unset;
      right: 0;
      padding: 24px;
      max-width: 600px;
      max-height: 100vh;
      visibility: hidden;
      opacity: 0;
      transform: translateX(100%);
      transition: opacity .3s ease-in-out, transform .3s ease-in-out,
        visibility .3s ease-in-out;

      @media (max-width:$sm) {
        transform: translate(0, 0);
        top: 0;
        left: 0;
        max-width: 100%;
        max-height: 100vh;
        height: 100%;
        padding-top: 80px;
      }

      &.modal__block_active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }

      .product-desc {

        &__list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 10px;
        }

        &_item {
          &-text {
            color: $gray-txt;
          }
        }
      }

    }
  }

  &__top {
    @media (max-width: $sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }

  &__text,
  &__link {
    @include mini-txt;
  }

  &__text {
    color: $gray-txt;
  }

  &__link {
    color: $red;
  }

  &__top-links {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: $md) {
      gap: 8px;
    }
  }

  &__field {
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 14px;

      @media (max-width: $md) {
        gap: 8px;
      }
    }

    width: 100%;
  }

  &__textarea {
    height: 150px;
  }

  &__btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .modal__forgot {
    text-align: right;
    margin-bottom: 14px;
  }

  .modal__bottom {
    text-align: center;
    margin-top: 6px;
  }

  &__rating {
    @media (max-width: $sm) {
      margin-bottom: 24px;
    }

    .rating {
      &__icon {
        @media (max-width: $md) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.menu {
  position: relative;
  z-index: 100;
  padding-left: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 60vw;
  height: 100vh;
  margin-left: auto;
  background: $white;
  overflow: auto;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform .3s ease-in-out,
    visibility .3s ease-in-out;

  &_active {
    visibility: visible;
    transform: translateX(0);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .nav,
  .nav-account,
  .header__tel-time {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    gap: 25px;
  }

  @media (min-width: calc($lg + 0.02px)) {
    display: none;
  }
}

.acc {
  margin-top: -1px;
  margin-bottom: -1px;
  border-bottom: 1px solid $gray-strokes;
  border-top: 1px solid $gray-strokes;

  padding: 24px 0;

  @media (max-width: $md) {
    padding: 16px 0;
  }

  &_active {
    .acc {
      &__head {
        margin-bottom: 14px;

        @media (max-width: $md) {
          margin-bottom: 8px;
        }
      }

      &__panel {
        visibility: visible;
      }

      &__icon {
        &-arrow {
          transform: rotate(0);
        }

        &-plus {
          transform: rotate(45deg);
        }
      }

    }
  }

  &__head {
    @include h3;
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    transition: margin-bottom .4s ease-in-out;
  }

  &__trigger {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__title-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__panel {
    @include txt;
    max-height: 0;
    overflow-y: hidden;
    visibility: hidden;
    transition: max-height .4s ease-out,
      visibility .4s ease-out;
  }

  &__icon {
    &-arrow {
      width: 10px;
      transform: rotate(-90deg);
      flex: none;
      transition: transform .4s ease-in-out;
    }

    &-plus {
      flex: none;
      width: 24px;
      height: 24px;
      transform: rotate(0deg);
      transition: transform .4s ease-in-out;

      @media (max-width: $md) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.filter-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: $white;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out,
    visibility .3s ease-in-out;

  &_active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

  &__block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__content {
    padding-top: 64px;
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 30px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 3px;
    margin-bottom: 24px;

    @media (max-width: $sm) {
      margin-bottom: 32px;
    }
  }

  &__btn-close {
    position: static;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__acc {
    &-item {
      padding: 10px 0;
      padding-left: calc((100vw - var(--cont-this)) / 2);
      padding-right: calc((100vw - var(--cont-this)) / 2);
      margin-left: calc((-100vw + var(--cont-this)) / 2);
      margin-right: calc((-100vw + var(--cont-this)) / 2);

      @media (max-width: $sm) {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
      }

      &:first-child {
        padding-top: 0;
        border-top: none;
      }

      .acc {
        &__head {
          @include txt;
        }

        &__panel {
          * {
            @include mini-txt;
          }

          &>*:first-child {
            padding-top: 10px;
          }
        }
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__other {
    width: 100%;

    &-item {
      margin-top: -1px;
      border-top: 1px solid $gray-strokes;
      border-bottom: 1px solid $gray-strokes;
      padding: 10px 0;
      padding: 10px 0;

      &:first-child {
        padding-top: 0;
        border-top: none;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    &-field {
      justify-content: space-between;

      .field-check {
        &__text {
          order: -1;
        }
      }
    }
  }
}

.burger {
  box-sizing: content-box;
  padding: 5px 2px 4px;

  &__list {
    position: relative;
    min-width: 20px;
    height: 15px;
  }

  &__item {
    position: absolute;
    left: 0;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      bottom: 0;
    }

    display: block;
    width: 100%;
    height: 1px;
    background: $black;
    transition: opacity .3s ease-in-out,
    visibility .3s ease-in-out,
    top .3s ease-in-out,
    left .3s ease-in-out,
    transform .3s ease-in-out;
  }

  &_active {
    .burger__item {
      top: 50%;
      left: 0;

      &:nth-child(2) {
        visibility: hidden;
        opacity: 0;
      }

      &:first-child {
        transform: translateY(-50%) rotate(45deg);
      }

      &:last-child {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}

.search {
  flex-grow: 1;
  display: flex;

  &__field {
    flex: none;
    background: none;
    border: none;
    width: 100%;
    height: unset;
    border-bottom: 1px solid $black;
    max-width: 0;
    margin-left: 0;
    transform: scaleX(0);
    visibility: hidden;
    transition: max-width .5s ease-in-out,
      margin-left .5s ease-in-out,
      transform .5s ease-in-out,
      visibility .5s ease-in-out;
  }

  &__btn {
    font-size: 0;
    flex: none;
  }

  &_active {
    .search__field {
      padding: 0 5px;
      margin-left: 7px;
      transform: scaleX(1);
      max-width: 100%;
      visibility: visible;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-account {
  display: flex;
  align-items: center;
  gap: 33px;
}

.filter {
  @include mini-txt;

  &:not(&_active) &__content {
    @media (max-width: $md) {
      display: none;
    }
  }

  &__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: calc($md + 0.02px)) {
      display: none;
    }
  }

  &__open {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__quantity {
    color: $gray-txt;
  }

  &__sort,
  &__list {
    .choices {

      &::after {
        content: '';
        width: 8px;
        height: 8px;
        background: url('@img/arrow-down-icon.svg') no-repeat center / contain;
        transform: translateY(-50%);
        right: 0;
      }

      &.is-open::after {
        transform: translateY(-50%) rotate(180deg);
      }

      &__list,
      &__list--dropdown,
      &__item,
      &__inner {
        padding: 0;
        height: auto;
        border: none;
      }


      &__list {
        overflow: unset;
        width: unset;
        min-width: 100%;

        &>* {
          padding: 3px 0;
        }
      }

      &__item {
        padding-left: 4px;
        padding-right: 4px;
        white-space: nowrap;
      }

      &__inner {
        padding-right: 14px;
      }

      &__item.is-highlighted {
        background: $gray-bg
      }
    }
  }

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__sort {
    display: flex;
    align-items: center;

    .choices {
      color: $gray-txt;

      &__item.is-selected {
        display: none;
      }
    }
  }

  &__hr {
    margin: 10px 0;
  }

  &__selected {
    @include txt;
    color: $gray-txt;
  }

  &__remove {
    @include mini-txt;
    color: $gray-txt;
    border-bottom: 1px solid $gray-txt
  }
}

.zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  z-index: 50;


  &__bg {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .6);
  }

  &:not(&_active) {
    display: none;
  }

  &__close {
    position: absolute;
    z-index: 5;
    top: 3.5vw;
    right: 3.5vw;
    padding: 30px;
    margin: -30px;
  }

  &__list {
    position: absolute;
    z-index: 15;
    left: 40px;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 80vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      width: 0;
    }

    @media (max-width: $xl) {
      gap: 14px;
    }

    @media (max-width: $sm) {
      display: none;
    }
  }

  &__item {
    width: 80px;
    min-height: 114px;
    height: 114px;

    @media (max-width: $xl) {
      width: 70px;
      min-height: 99px;
      height: 99px;
    }

    @media (max-width: $lg) {
      width: 60px;
      min-height: 85px;
      height: 85px;
    }

    @media (max-width: $md) {
      width: px;
      height: px;
    }
  }

  &__btn {
    height: 100%;
    width: 100%;

    &_active {
      opacity: .5;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__main-img {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 0.703 * 90vh;
  }
}

.breadcrumbs {
  margin-top: 24px;
  margin-bottom: 40px;

  @media (max-width: $md) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__container {
    display: flex;
    gap: 26px;
    @include mini-txt;
  }

  &__item {
    &:not(:last-child) {
      position: relative;
      color: $gray-txt;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(calc(-50% + 1px));
        left: calc(100% + 8px);
        width: 9px;
        height: 1px;
        background: $gray-txt;
      }
    }
  }
}
