include ./html/mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Статья
    link(rel="stylesheet", href="./css/style.min.css")
    script(defer src="./js/app.min.js")
  body
    include ./html/header.pug
    
    +breadcrumbs([ 
      ["#", "Главная"], 
      ["./blog.html", "Блог"], 
      ["#", "Скидка 25% на пляжную коллекцию"], 
      ])
    
    main.main 
      section.article(data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out")
        .container.article__container
          .article__img-wrap
            img.article__img(src="@img/article.jpg", loading="lazy" alt="")
          .grid.article__content
            .col-xl-6.col-lg-9.col-12.article__content-inner
              h1.section-title.article__title Скидка 25% на пляжную коллекцию 
              .article__desc
                p Ловите волну и скидку 25% на пляжную коллекцию! Акция действует с 22 по 27 июня автоматически в корзине в мобильном приложении и по промокоду из личного кабинета приложения – на сайте и в магазинах, включая Дисконты. Успейте выгодно купить купальники, плавки и аксессуары для взрослых и детей!
                
                ul.line
                  li 
                    a(href="") Для неё
                  li 
                    a(href="#") Для него 
                  li 
                    a(href="#") Для девочки 
                  li 
                    a(href="#") Для мальчика
                
                p Скачайте приложение 
                  a(href="#") здесь. 
                  |Скидки, акции, новинки – в вашем смартфоне!
                
                p Виртуальная Бонусная карта, полный каталог и удобный поиск, секретные персональные предложения и многое другое. Попробуйте ‒ приложение доступно в AppStore и GooglePlay.
                
                p Желаем приятного шопинга!
                
                strong Подробные правила акции:
                ol
                  li Акция действует с 22 до 27 июня 2022 г. включительно.
                  li Акция действует автоматически в корзине в мобильном приложении; на сайте и в магазинах, включая Дисконты, – по единоразовому промокоду из личного кабинета приложения.
                  li Акция действует на выделенный ассортимент пляжной коллекции.
                  li Акция не суммируется с другими акциями.
                  li Акция не суммируется с Бонусной скидкой.
                  li Возврат товара, приобретённого по акции, осуществляется из расчёта стоимости, указанной в чеке на момент действия акции. Возврат бракованной вещи происходит на стандартных условиях.
                
                p Организатор: ООО «ОСТИН» Юридический адрес: 117420, г. Москва, ул. Профсоюзная, д. 61А. ОГРН 1057747320003. Количество товаров ограничено. Организатор оставляет за собой право изменять сроки и условия акции либо прекратить её досрочно.
      
      section.smilar-blog(data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out")
        .container.smilar-blog__container 
          ul.blog__list
            -
              let blogArr = [
                ['','@img/blog/blog-1.jpg', '2022-06-15', '15 июня 2022', 'Как носить модные в этом сезоне шелковые платки', 'Косынка, бандана, повязка — яркий шелковый платок с готовностью станет, чем захотите.'],
                ['','@img/blog/blog-2.jpg', '2022-06-10', '10 июня 2022', 'Online offers: скидка 20% на летние комплекты ', 'Онлайн-предложение дня – скидка 20% на летние комплекты для женщин, мужчин и детей автоматически в корзине на сайте, в мобильном приложении и по промокоду из приложения – в магазинах, включая Дисконты. Выбирайте стильные образы!'],
                ['','@img/blog/blog-3.jpg', '2022-06-06', '6 июня 2022', 'Семь образов с пиджаком на все случаи жизни ', 'Хватит на всё лето весну '],
              ]
            each val in blogArr
              +blog-item(val[0],val[1],val[2],val[3],val[4],val[5])
    
    +email-form
    include ./html/footer.pug