
include ./html/mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Корзина
    link(rel="stylesheet", href="./css/style.min.css")
    script(defer src="./js/app.min.js")
  body
    include ./html/header.pug
    
    +breadcrumbs([ 
      ["#", "Главная"], 
      ["#", "Корзина"], 
      ])
    
    main.main 
      section.empty(data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out")
        .container.empty__container 
          h1.section-title.empty__title Корзина
          .empty__content.grid
            .empty__text-block.lg-5.col-sm-6.col-9
              span.empty__text В корзине пусто. Добавьте товары из каталога.
              +link('./catalog.html', 'green', 'empty__link', 'Перейти в каталог')
      
      +similar-products('Вам может понравиться')
    
    +email-form
    include ./html/footer.pug