include ./html/mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Корзина
    link(rel="stylesheet", href="./css/style.min.css")
    script(defer src="./js/app.min.js")
  body
    include ./html/header.pug
    +breadcrumbs([ 
      ["#", "Главная"], 
      ["#", "Корзина"], 
      ])
    main.main 
      section.cart
        .container.cart__container 
          h1.section-title.cart__title Корзина
          .cart__content.grid
            .cart__list-wrap.col-lg-9.col-md-8.col-12
              .cart__list-quantity 
                |В корзине 
                span.cart__list-quantity-text 3 
                |товара
              ul.cart__list
                -
                  let cartArr = [
                    ['','@img/product/product-7.jpg','Широкие джинсы','42(S)','Чёрный','4','2 000 ₽'],
                    ['','@img/product/product-8.jpg','Структурный джемпер с молнией','44(M)','Белый','2','10 400 ₽'],
                    ['','@img/product/product-5.jpg','Базовая футболка','44(M)','Жёлтый','1','599 ₽'],
                  ]
                each val in cartArr
                  +cart-item(val[0],val[1],val[2],val[3],val[4],val[5],val[6])

            .total.cart__total.col-lg-3.col-md-4.col-sm-6.col-12
              .total__top 
                h2.total__title Итого
                strong.total__total-pay 4 194 ₽
              .hr.total__hr
              ul.total__body 
                li.total__row 
                  span.total__name Товары:
                  span.total__pay 4 000 ₽
                li.total__row 
                  span.total__name Доставка:
                  span.total__pay  194 ₽
              .total__btn-wrap
                +btn('button','trs','total__btn','Использовать промокод')
                +btn('button','green','total__btn','Оформить заказ')

      +similar-products('Вам может понравиться')
    
    include ./html/footer.pug