include ./html/mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Каталог
    link(rel="stylesheet", href="./css/style.min.css")
    script(defer src="./js/app.min.js")
  body
    include ./html/header.pug
    
    +breadcrumbs([ 
      ["#", "Главная"], 
      ["#", "Каталог"], 
      ])
    
    main.main 
      section.catalog(data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out")
        .container.catalog__container 
          h1.section-title.catalog__title Каталог
          .filter.catalog__filter
            .filter__mobile 
              button.filter__open(type="button")
                img.filter__open-img(src="@img/filter-icon.svg", alt="")
                span.filter__open-text Фильтры и сортировка
              span.filter__quantity 
                span.filter__quantity-num 23 
                | товара
            .filter__content
              .filter__top
                ul.filter__list
                  each val in [ 'Тип одежды', 'Размер', 'Цена', 'Цвет', 'Материалы' ]
                    li.filter__item 
                      select.select
                        option(value="" placeholder)=val
                        option(value="name") Фильтр
                        option(value="name") Фильтр
                        option(value="name") Фильтр
                .filter__sort 
                  span.filter__sort-text Сортировать по:
                  select.select
                      option(value="name") Популярности
                      option(value="name") Фильтр
                      option(value="name") Фильтр
                      option(value="name") Фильтр
              .filter__hr.hr
              .filter__bottom 
                span.filter__selected Нет выбранных фильтров
                button.filter__remove(type="button") Удалить фильтры
          ul.catalog__list.grid
            -
              let productArr = [
                ['col-lg-3 col-md-4 col-6','@img/product/product-1.jpg', '999 ₽','Удлинённые шорты'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-2.jpg', '499 ₽','Трикотажная майка'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-3.jpg', '1 499 ₽','Хлопковое платье Baby Doll'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-4.jpg', '2 500 ₽','Платье-рубашка с накладными карманами'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-5.jpg', '599 ₽','Базовая футболка'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-6.jpg', '2 000 ₽','Однобортный прямой жакет'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-7.jpg', '2 000 ₽','Широкие джинсы'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-8.jpg', '5 200 ₽','Структурный джемпер с молнией'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-9.jpg', '999 ₽','Прямые брюки'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-10.jpg','2 499 ₽','Рубашка из вискозы с роговыми пуговицами'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-11.jpg','600 ₽','Джемпер кроёный'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-12.jpg','1 200 ₽','Прямая юбка'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-13.jpg','1 500 ₽','Прямая юбка'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-14.jpg','2 400 ₽','Джинсы Boyfriend'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-15.jpg','3 000 ₽','Минималистичная куртка с капюшоном'],
                ['col-lg-3 col-md-4 col-6','@img/product/product-16.jpg','1 800 ₽','Трикотажные широкие брюки'],
              ]
            each val in productArr
              +product-item(val[0],val[1],val[2],val[3],'')
          .block-nav.block-nav_pagination
            a.block-nav__button.block-nav__button_prev(href="#")
              img(src="@img/arrow-down-icon.svg", alt="")
            ul.block-nav__pagination
              li
                a.block-nav__pagination-bullet(href="#") 1
              li
                a.block-nav__pagination-bullet(href="#") 2
              li
                a.block-nav__pagination-bullet.block-nav__pagination-bullet_active(href="#") 3
              li
                a.block-nav__pagination-bullet(href="#") 4
            a.block-nav__button.block-nav__button_next(href="#")
              img(src="@img/arrow-down-icon.svg", alt="")
    
    +email-form
    include ./html/footer.pug